name: Ubuntu

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Gluon's GraalVM
        uses: graalvm/setup-graalvm@main
        env:
          version: '22.1.0'
          java-version: '17'
          components: 'native-image'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install libraries
        run: |
          sudo apt update
          sudo apt install libasound2-dev libavcodec-dev libavformat-dev libavutil-dev libgl-dev libgtk-3-dev libpango1.0-dev libxtst-dev
      - name: Make staging directory
        run: mkdir staging

      - name: Gluon Build
        run: mvn -Pdesktop gluonfx:build gluonfx:package

      - name: Copy native image to staging
        run: |
          cp -r target/gluonfx/x86_64-linux/LerverHC* staging
          cp -r db staging

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: Package
          path: staging
